body {
    font-family: 'Roboto', "Arial", sans-serif;
    text-align: justify;
    background-color: #e8ebf3;
    margin: 0;
}

a{
    text-decoration: none;
    color: rgb(29, 143, 151);
}

a:hover{
    text-decoration: underline;
}

.text{
    text-indent: 25px;
}

.wrapper {
    margin: 0 auto;
    padding: 20px;
    max-width: 1024px;
    line-height: 150%;
    background-color: white;
}

.main-img {
   display: inline-block;
}

.contacts {
    display: inline-block;
    padding-left: 40px;
    vertical-align: top;
    font-size: 20px;
}

.contacts ul {
    padding: 0;
    list-style: none;
}

.contacts img {
    padding: 0 5px;
}

.section h3 {
    padding: 10px 20px;
    background-color: bisque;
}